
---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="py-16 px-4">
    <h2 class="text-3xl font-bold mb-4">Request Support</h2>
    <p class="mb-6">If you're a civil society group, collective, or individual under threat, please use this form to request expert support.</p>
    
<iframe
  src="https://form.fillout.com/t/rZhLds4EXous"
  width="100%"
  height="900"
  frameborder="0"
  style="border: none;"
  title="Organization Request Form"
></iframe>

  </section>
</Layout>
