
---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="py-16 px-4">
    <h2 class="text-3xl font-bold mb-4">Volunteer Your Expertise</h2>
    <p class="mb-6">Please complete the form below to join our expert volunteer network.</p>
    
<iframe
  src="https://form.fillout.com/t/9sbZyBfabfus"
  width="100%"
  height="800"
  frameborder="0"
  style="border: none;"
  title="Volunteer Form"
></iframe>

  </section>
</Layout>
